{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form class="form" action="{{ url('wiki_update', {'wiki': wiki}) }}" method="post">
                <fieldset class="form__fieldset">
                    <label class="form__label form__label--inline" for="wiki_name">Name:</label>
                    <input class="form__input form__input--inline" type="text" name="name" value="{{ wiki.name }}" placeholder="Name" id="wiki_name">
                </fieldset>
                
                <fieldset class="form__fieldset">
                    <label class="form__label form__label--inline" for="wiki_slug">Slug:</label>
                    <input class="form__input form__input--inline" type="text" disabled name="slug" value="{{ wiki.slug }}" placeholder="Slug" id="wiki_slug">
                </fieldset>
                
                <fieldset class="form__fieldset">
                    <button class="form__submit" type="submit" name="update">Update</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
