{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form class="" action="{{ url('wiki_update', {'slug': wiki.slug}) }}" method="post">
                <label for="wiki_name">Name:</label>
                <input type="text" name="name" value="{{ wiki.name }}" placeholder="Name" id="wiki_name">
                
                <label for="wiki_slug">Slug:</label>
                <input type="text" disabled name="slug" value="{{ wiki.slug }}" placeholder="Slug" id="wiki_slug">
                
                <button type="submit" name="update">Update</button>
            </form>
        </div>
    </div>
{% endblock %}
