{% extends 'base.html.twig' %}

{% block body %}
    <nav class="wiki-nav">
        <ul class="wiki-nav__menu">
            {% for wiki in wikis %}
            <li class="wiki-nav__item">
                <a tabindex="0" href="{{ url('page_show', {'slug': wiki.slug}) }}" title="{{ wiki.name }}">{{ wiki.name }}</a>
            </li>
            
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
