.vagrant/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/etc/parameters.yml
/app/logs/*
/app/data/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/data/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/AppBundle/Resources/public/css/*
!/src/AppBundle/Resources/public/css/.gitkeep
/node_modules/
