.vagrant/
/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
/etc/parameters.yml
/var/logs/*
/var/data/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/data/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/AppBundle/Resources/public/css/*
!/src/AppBundle/Resources/public/css/.gitkeep
/node_modules/
