<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="main-nav">
            <h2>Wikis</h2>
            <ul class="main-nav__menu">
                {% for wiki in menu.getWikis %}
                {% if is_granted('show', wiki.slug) %}
                <li><a class="main-nav__link" href="{{ url('page_show', {'slug': wiki.slug}) }}" tabindes="0">{{ wiki.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <main class="main-content">
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
