.wiki-page {
    @include container();
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    &__nav {
        @include span(4);
        background-color: $color-main-dark;
        color: $color-main-light;
        padding: 0 20px;
        
        > .wiki-menu {
            margin-left: -20px;
        }
        
        a {
            color: $color-main-light;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &__content-container {
        @include span(last 8);
    }
}
