{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ url('user_update', { 'user' : user.username }) }}" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{ user.email }}">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ user.name }}">

        <button type="submit">Save user</button>
    </form>
{% endblock %}
