{% extends 'base.html.twig' %}

{% from 'page/partials/menu.html.twig' import menu as menu %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            
            {{ menu(tree, wiki.slug) }}
            
            <div class="wiki-content">
                {{ content | markdown }}
            </div>
            
            <a href="{{ url('page_edit', {'slug': wiki.slug, 'page': path}) }}" tabindex="0" title="Edit Page">Edit Page</a>
            <a href="{{ url('page_delete', {'slug': wiki.slug, 'page': path}) }}" tabindex="0" title="Delete Page">Delete Page</a>
        </div>
    </div>
{% endblock %}
