{% extends 'base.html.twig' %}

{% from 'page/partials/menu.html.twig' import menu as menu %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            
            {{ menu(tree, wiki.slug) }}
            
            <div class="">
                {{ content | markdown }}
            </div>
            
            <a href="{{ url('page_edit', {'slug': wiki.slug, 'page': path}) }}">Edit Page</a>
        </div>
    </div>
{% endblock %}
