{% extends 'simple.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form" action="{{ path('login_check') }}" method="post">
            <label class="form__label" for="username">Username:</label>
            <input class="form__input" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label class="form__label" for="password">Password:</label>
            <input class="form__input" type="password" id="password" name="_password" />

            <button class="form__submit" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
